body {
  margin: 0;
  padding: 0;
  Font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;



  background: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

.header-color {
  background-color: #eeeeee;
  color: #000000;

}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;

}

.main-navigation__list,
.main-navigation__extra-list {
  list-style: none;
}

.main-navigation__list a,
.main-navigation__extra-list a{
  color: #000000;
  outline: none;
}

.main-navigation__list a:focus,
.main-navigation__list a:hover,
.main-navigation__extra-list a:focus,
.main-navigation__extra-list a:hover {
  color: #fb565a;
}

.main-navigation__list a:active,
.main-navigation__extra-list a:active {
  color: #b4b4b4;
}

.promo-slider {
  position: relative;
}
.promo-slider__list {
  list-style: none;
}

.item-slider__title {
  font-size: 55px;
  line-height: 55px;
}

.promo-slider__item {
  background-color: #eeeeee;
}

.promo-slider__item--slide1 {
  background-image: url("../img/slide1.png");
}

.promo-slider__item--slide2 {
  background-image: url("../img/slide2.png");
}

.promo-slider__item--slide3 {
  background-image: url("../img/slide3.png");
}

.button {
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
  text-align: center;
  border-radius: 3px;
  outline: none;
}

.button:hover{
  background-color: #e74246;
  cursor: pointer;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}


.item-slider__link:hover,
.item-slider__link:focus {
  background-color: #e74246;
}

.item-slider__link:active {
  background-color: #d7373b;
}

.services__list {
  list-style: none;
}

.services__title--web::before,
.services__title--app::before,
.services__title--presentation::before {
  content:"";
  width: 300px;
  height: 146px;
  position: relative;
  display: block;
}

.services__title--web::before {
  background-image: url("../img/illustration-1.png");
}

.services__title--app::before {
  background-image: url("../img/illustration-2.png");

}
.services__title--presentation::before {
  background-image: url("../img/illustration-3.png");
}

.services__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__link {
  display: inline-block;
  width: 160px;
  padding-top: 15px;
  padding-bottom: 12px;
}

.button--red {
  background-color: #fb565a;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.brief-info__title {
  font-size: 45px;
  line-height: 45px;
}

.brief-info__header {
  text-transform: uppercase;
}

.brief-info__list {
    list-style: none;
}

.features__heading {
  text-transform: uppercase;
  font-weight: bold;
}

.features__term {
  font-size: 16px;
  line-height: 18px;
}

.features__determination {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts__link {
  width: 220px;
  margin-top: 22px;
  margin-left: 28px;
  padding-top: 15px;
  padding-bottom: 13px;
}

.contacts__link:focus {
  background-color: #e74246;
}

.feedback__title {
  font-size: 45px;
  line-height: 45px;
}

.input-form label{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.input-form input {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid lightgray;
  border-radius: 3px;
  width: 343px;
  height: 48px;
  padding-left: 15px;
  outline: none;
}

.input-form input:focus {
  border-color: #000000;
}

.input-form input:hover {
  border-color: #b4b9bb;
}

.input-form input:invalid {
  color: #e74246;
  border-color: #e74246;
}

.input-form textarea {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid lightgray;
  border-radius: 3px;
  width: 743px;
  height: 103px;
  resize: none;
  padding-top: 15px;
  padding-left: 15px;
  outline: none;
}

.input-form textarea:focus {
  border-color: #000000;

}

.input-form textarea:hover {
  border-color: #b4b9bb;
}

.input-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.input-form__button {
  padding: 20px 80px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.input-form__button:focus {
  background-color: #e74246;
}

.social {
  list-style: none;
}

.footer__sentence-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.visually-hidden {
  display: none;
}

.collab {
  list-style: none;
  position: relative;
  margin-bottom: 0;

}

.collab__item {
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 33px;
  position: relative;
  cursor: pointer;
}

.collab__item:focus,
.collab__item:hover {
  opacity: 1;

}

.collab__item:active {
  opacity: 0.2;
}

.collab__item:first-of-type {
  margin-left: 30px;
}

.collab__item:first-of-type::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -51px;
  width: 2px;
  height: 55px;
  background: #eeeeee;
}

.collab__item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -43px;
  width: 2px;
  height: 55px;
  background: #eeeeee;
}

.collab__item:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -57px;
  width: 2px;
  height: 55px;
  background: #eeeeee;
}

.collab__item:nth-of-type(3) {
  margin-right: 20px;
}
.collab__item:last-of-type {
  margin-right: 42px;
}

.filter input {
  background-color: #eeeeee;
}

input[type="range"] {
  width: 219px;
}

.filter input[type="text"] {
  width: 80px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.filter__box {
  border: 0 none;
}

.filter__range-scale {
  height: 80px;
  width: 260px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-top: 45px;
  position: relative;
}

.filter__line {
  position: absolute;
  width: 212px;
  height: 2px;
  background: #d7dcde;
  top: 50%;
  left: 10%;
}

.filter__line-active .start {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top:-2px;
  left: -2px;
  background-color: #cbcbcb;
}





.filter__line-active {
  position: absolute;
  width: 147px;
  height: 2px;
  background: #00ca74;
  top: 50%;
  left: 10%;
  cursor: pointer;
}

.filter__line-active::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  box-shadow: 0 3px 0 0 #e0e0e0;
  top: -10px;
  left: -10px;
}

.filter__line-active::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  box-shadow: 0 3px 0 0 #e0e0e0;
  top: -10px;
  right: -10px;
}

.filter__input-value {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

.filter__input-value label:first-child {
  margin-left: 5px;
}

.filter__input-value span {
  margin-right: 5px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 110px;
}

.filter__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-button {
  margin-top: 30px;
  padding: 17px 87px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #000000;
  font-weight: bold;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.catalog__list {
  list-style: none;
}

.catalog__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-sorting {
  list-style: none;
}

.catalog-sorting__item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b2b2b2;
  outline: none;
}

.catalog-sorting__item a:hover,
.catalog-sorting__item a:focus {
  color: #666666;
}
.catalog-sorting__item a:active {
  color: #000000;
}

.catalog-item {
  position: relative;

}
.catalog-hover {
  opacity: 0;
}
li.catalog__item:hover .catalog-hover {
  opacity: 1;
}

.catalog-hover {
  position: absolute;
  bottom: 0;
  width: 360px;
  min-height: 238px;
  background-color: #eeeeee;
  text-align: center;


}

.catalog-hover__flex {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;

}

.catalog-hover__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;

}

.catalog-hover__item {
  font-size: 16px;
  line-height: 18px;
  color: #cacaca;
  text-align: center;
  margin-top: 0px;
}

.catalog-hover__link {
 display: block;
 padding: 12px 0;
  border-radius: 3px;
  margin-top: 16px;

}

.catalog-hover__link:focus {
  background-color: #e74246;
}

.paginator {
  padding: 0;
  margin: 0;
  margin-top: 64px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin-bottom: -60px;
}

.paginator__item {
  display: inline;
}

.paginator__item a {
  color: #000000;
  background-color: #eeeeee;
  margin-right: 11px;
  padding: 15px 20px;
  outline: none;
  border-radius: 3px;

}

.paginator__item--next a {
  padding-left: 75px;
  padding-right: 75px;
}

.paginator__item--active a{
  background-color: #ffffff;
  padding: 12px 17px;
  border: 3px solid #dbdbdb;
}

.paginator__item a:hover,
.paginator__item a:focus {
  background-color: #dfdfdf;
}

.paginator__item:not(:first-of-type) a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;

}

/*--сетка--*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
/*outline: 2px solid black;*/
}

.header {

  padding-bottom: 0px;
  padding-top: 49px;
}
.header-logo {
  width: 440px;
  height: 65px;
}

.main-navigation__list {
  width: 440px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /*outline: 1px solid yellow;*/
  margin-left: auto;
  margin-bottom: 19px;
}

.main-navigation__extra-list {
  margin-left: auto;
  margin-bottom: 19px;
  /*outline: 1px solid blue;*/
}

.main-navigation {
  display: flex;
  /*outline: 1px solid red;*/

  align-items: flex-end;
  flex-direction: row;

}

.promo-slider__list {
  padding: 0;
  margin: 0;

}

.item-slider__text {
  margin-top: 23px;
  margin-bottom: 40px;
}

.item-slider__link {
  display: inline-block;
  width: 240px;
  min-height: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.item-slider {
  width: 1140px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  padding-top: 68px;
  padding-bottom: 82px;
}

.promo-slider__item--slide2{
  display: none;
}

.promo-slider__item--slide3 {
  display: none;
}

.services {
  padding-top: 0px;
}

.services__list {
  width: 1102px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;
}

.services__item {
  width: 303px;
  background-position: top;
  margin-top: 70px;
}

.services__title {
  margin-bottom: 17px;
  margin-top: 26px;
}

.services__text {
  margin-bottom: 30px;
}

.about-us {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 118px;
  padding-bottom: 40px;
  margin-bottom: 18px;
}

.brief-info {
  width: 660px;
}

.brief-info__title {
  margin-bottom: 30px;
}

.brief-info__header {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}

.brief-info__list {
  padding-left: 37px;
}
.brief-info__item:not(:first-child) {
  margin-top: 24px;
}

.features__list {
  display: flex;
  margin-top: 35px;
  width: 340px;
  justify-content: space-between;
}

.feat-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 102px;
  text-align: left;


}

.features__determination {
  margin-left: 0;
}

.features__determination span {
  vertical-align: super;
  font-size: 25px;
}

.features__term {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 0px;
}

.features__heading {
  margin-top: 30px;
  margin-left: 18px;
}

.collab__list {
  width: 1160px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;

  padding: 0;
  margin: 0;
  text-align: center;

  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;

}

.feedback {
  position: absolute;
  width: 960px;
  height: 590px;
  background: #eeeeee;
  right: 200px;
  top: 2450px;
  box-shadow: ;

}

.contacts {
  width: 1440px;
  height: 416px;
  background-image: url("../img/map.png");
  background-position: 100% 38%;
  margin-top: 75px;
  position: relative;
}

.contacts::before {
  content: "";
  background: url("../img/map-marker.png");
  position: absolute;
  width: 231px;
  height: 190px;
  top: 95px;
  right: 450px;
}

.contacts__title {
  margin-left: 29px;
  margin-top: 51px;
}

.contacts__text {
  width: 210px;
  margin-left: 29px;
  margin-top: 9px;
}

.contacts__text:last-of-type {
  margin-top: 0px;
}

.contacts__block {
  position: absolute;
  width: 320px;
  height: 310px;
  top: 54px;
  left: 94px;
  background: white;
  background-position: left center;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.footer {
  width: 1140px;
  display: flex;
  justify-content: flex-start;
  margin-top: 57px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: -30px;

  padding: 0;

}

.filter {
  width: 260px;
}

.filter__box {
  padding: 0;
  margin: 0;
}

.filter__box:nth-child(2) {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox,
.radio {
	display: none;
}

.checkbox-custom {
  background: url("../img/svg/checkbox-off.svg") no-repeat;
  width: 30px;
  height: 30px;
  position: relative;
  opacity: 0.5;
}

.radio-custom {
	width: 25px;
	height: 25px;
	border: 5px solid #ccc;
	border-radius: 2px;
	position: relative;
}

.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../img/svg/checkbox-on.svg") no-repeat;
}


.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	background: #ccc;
	border-radius: 2px;
}


.checkbox-custom,
.checkbox:checked + .checkbox-custom::before {
  cursor: pointer;
}

.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
  cursor: pointer;
}

.filter__radio:first-of-type {
  margin-top: 13px;
  margin-left: 2px;
}

.filter__radio .label {
  margin-left: 5px;
}

.filter__radio:nth-of-type(2) {
  margin-top: 14px;
  margin-left: 2px;
}

.filter__radio:last-of-type {
  margin-top: 16px;
  margin-left: 2px;
}

.catalog {
  width: 760px;
  margin-left: auto;
}






.catalog-sorting {
  padding: 0;

margin: 0;
  margin-left: 0px;
  width: 280px;
  display: flex;
  justify-content: space-around;
  /*outline: 2px solid black;*/
  margin-left: auto;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 3px;
  /*outline: 2px solid black;*/
}


.catalog-extra {
  list-style: none;
  display: flex;
  /*outline: 2px solid black;*/
  margin: 0;


}

.catalog-extra_down {
  margin-left: 8px;
  opacity: 1;
}

.catalog-extra_up {
  margin-left: 18px;
}

.controller-down {
  transform: rotate(180deg);

}

.controller-down:focus,
.controller-down:hover {
  opacity: 0.5;
}
.controller-down:active {
  opacity: 1;
}

.controller-up {
  opacity: 0.2;
}

.controller-up:hover {
  opacity: 0.5;
}

.controller-up:active {
  opacity: 1;
}

.catalog-wrap {

}



.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 32px;
}



.promo-slider__controls {
    position: absolute;
    width: 95px;
    bottom: 85px;
    left: 553px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 4px;
}

.btn:hover {
    cursor: pointer;
}

.but {
  margin-right: 23px;
  fill: #a6a6a6;
}

.main-navigation__extra-item {
  max-width: 160px;
}

.brief-info__item {
  position: relative;
}

.brief-info__item::before {
  content: "";
  position: absolute;
  background: #fb565a;
  width: 25px;
  height: 2px;
  left: -36px;
  top: 11px;
}

.social {
  margin-top: 10px;
}

.social__link {
  background: #e1e1e1;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link:hover {
  background: #e74246;
  cursor: pointer;
}

.social__link:active {
  background: #d7373b;
}

.social__link  svg:active {
  opacity: 0.3;
}

.foot {
  width: 800px;
  margin-top: 15px;
  margin-left: 130px;
}

.footer__sentence-text {
  margin-top: 10px;
}

.main-navigation__item--active {
  position: relative;
}

.main-navigation__item--active::before {
  content: "";
  width: 100%;
  height: 2px;
  top: 33px;
  position: absolute;
  background: #fb565a;
}

.filter__box:nth-of-type(3) {
  margin-top: 43px;
}

.flex-filter__checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 210px;
  margin-top: 10px;
}

.catalog__item{
  margin-top: 60px;
  position: relative;
  cursor: pointer;
}

.catalog__item:hover::before {
  background: #4d4d4d;
}

.catalog__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: #eeeeee;
  top: -39px;
  border-radius: 3px 3px 0 0;
}


.catalog__circle {
  background: #ffffff;
  width: 14px;
  height: 14px;
  position: absolute;
  top: -26px;
  left: 17px;
  border-radius: 50%;
}

.catalog__circle::before {
  content: "";
  background: #ffffff;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 22px;
  border-radius: 50%;
}

.catalog__circle::after {
  content: "";
  background: #ffffff;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 45px;
  border-radius: 50%;
}
 .contacts-wrap {
   margin-top: -43px;
 }

.header__logo {
  cursor: pointer;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.flex.wrapper {
  display: flex;
  padding-top: 15px;
}
