body {
  margin: 0;
  padding: 0;

  Font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  background: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

.header-color {
  background-color: #eeeeee;
  color: #000000;

}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;

}

.main-navigation__list,
.main-navigation__extra-list {
  list-style: none;
}

.main-navigation__list a,
.main-navigation__extra-list a{
  color: #000000;
  outline: none;
}

.main-navigation__list a:focus,
.main-navigation__list a:hover,
.main-navigation__extra-list a:focus,
.main-navigation__extra-list a:hover {
  color: #fb565a;
}

.main-navigation__list a:active,
.main-navigation__extra-list a:active {
  color: #b4b4b4;
}

.promo-slider__list {
  list-style: none;
}

.item-slider__title {
  font-size: 55px;
  line-height: 55px;
}

.promo-slider__item {
  background-color: #eeeeee;
}

.promo-slider__item--slide1 {
  background-image: url("../img/slide1.png");
}

.promo-slider__item--slide2 {
  background-image: url("../img/slide2.png");
}

.promo-slider__item--slide3 {
  background-image: url("../img/slide3.png");
}

.button {
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
  text-align: center;
  border-radius: 3px;
  outline: none;
}

.button:hover{
  background-color: #e74246;
  cursor: pointer;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.item-slider__link {
  padding-top: 17px;
  padding-bottom: 14px;
  padding-right: 55px;
  padding-left: 55px;
}

.item-slider__link:hover,
.item-slider__link:focus {
  background-color: #e74246;
}

.item-slider__link:active {
  background-color: #d7373b;
}

.services__list {
  list-style: none;
}

.services__title--web::before,
.services__title--app::before,
.services__title--presentation::before {
  content:"";
  width: 300px;
  height: 146px;
  position: relative;
  display: block;
}

.services__title--web::before {
  background-image: url("../img/illustration-1.png");
}

.services__title--app::before {
  background-image: url("../img/illustration-2.png");

}
.services__title--presentation::before {
  background-image: url("../img/illustration-3.png");
}

.services__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__link {
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.button--red {
  background-color: #fb565a;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.brief-info__title {
  font-size: 45px;
  line-height: 45px;
}

.brief-info__header {
  text-transform: uppercase;
}

.brief-info__list {
    list-style: none;
}

.features__heading {
  text-transform: uppercase;
  font-weight: bold;
}

.features__term {
  font-size: 16px;
  line-height: 18px;
}

.features__determination {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts__link {
  padding: 20px 45px;
}

.contacts__link:focus {
  background-color: #e74246;
}

.feedback__title {
  font-size: 45px;
  line-height: 45px;
}

.input-form label{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.input-form input {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  width: 343px;
  height: 48px;
  padding-left: 15px;
  outline: none;
}

.input-form input:focus {
  border-color: #000000;
}

.input-form input:hover {
  border-color: #b4b9bb;
}

.input-form input:invalid {
  color: #e74246;
  border-color: #e74246;
}

.input-form textarea {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid lightgray;
  border-radius: 3px;
  width: 743px;
  height: 103px;
  resize: none;
  padding-top: 15px;
  padding-left: 15px;
  outline: none;
}

.input-form textarea:focus {
  border-color: #000000;

}

.input-form textarea:hover {
  border-color: #b4b9bb;
}

.input-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.input-form__button {
  padding: 20px 80px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.input-form__button:focus {
  background-color: #e74246;
}

.social {
  list-style: none;
}

.footer__sentence-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.visually-hidden {
  display: none;
}

.collab {
  list-style: none;
}

.collab__list {
  list-style: none;
  padding-bottom: 49px;
  padding-top: 44px;
}

.collab__item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.collab__item:active {
  opacity: 0.2;
}

.filter input {
  background-color: #eeeeee;
}

input[type="range"] {
  width: 219px;
}

.filter input[type="text"] {
  width: 80px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.filter__box {
  border: 0 none;
}

.filter__range-scale {
  height: 80px;
  width: 260px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 110px;
}

.filter__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-button {
  padding: 20px 90px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #000000;
  font-weight: bold;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.catalog__list {
  list-style: none;
}

.catalog__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-sorting {
  list-style: none;
}

.catalog-sorting__item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b2b2b2;
  outline: none;
}

.catalog-sorting__item a:hover,
.catalog-sorting__item a:focus {
  color: #666666;
}
.catalog-sorting__item a:active {
  color: #000000;
}

.catalog-sorting__item--updown {
  background-image: url("../img/svg/icon-up-dir.svg"),
                    url("../img/svg/icon-down-dir.svg");

}

.catalog-hover {
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-hover__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-hover__item {
  font-size: 16px;
  line-height: 18px;
  color: #cacaca;
  text-align: center;
}

.catalog-hover__link {
  padding: 20px 60px;
  border-radius: 3px;
}

.catalog-hover__link:focus {
  background-color: #e74246;
}

.paginator {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  text-align: center;
}

.paginator__item {
  display: inline;
}

.paginator__item a {
  color: #000000;
  background-color: #eeeeee;
  margin-right: 11px;
  padding: 20px 30px;
  outline: none;
  border-radius: 3px;

}

.paginator__item--active a{
  background-color: #ffffff;
  padding: 17px 27px;
  border: 3px solid #dbdbdb;
}

.paginator__item a:hover,
.paginator__item a:focus {
  background-color: #dfdfdf;
}

.paginator__item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;

}

/*--сетка--*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
/*  outline: 1px solid black;*/
}

.header {
  padding-bottom: 1px;
  padding-top: 49px;
}
.header-logo {
  width: 440px;
  height: 65px;
}

.main-navigation__list {
  width: 440px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /*outline: 1px solid yellow;*/
  margin-left: 201px;
  margin-bottom: 19px;
}

.main-navigation__extra-list {
  margin-left: auto;
  margin-bottom: 19px;
  /*outline: 1px solid blue;*/
}

.main-navigation {
  display: flex;
  /*outline: 1px solid red;*/

  align-items: flex-end;
  flex-direction: row;

}

.promo-slider__list {
  padding: 0;
  margin: 0;
}

.item-slider__text {
  padding-top: 10px;
  padding-bottom: 37px;
}

.item-slider__link {
  margin-top: 10px;
}

.item-slider {
  width: 1130px;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 70px;
  padding-top: 60px;
  padding-bottom: 95px;
}

.promo-slider__item--slide2{
  display: none;
}

.promo-slider__item--slide3 {
  display: none;
}

.promo-slider input[type="radio"]{
  display: none;
}

.services {
  padding-top: 59px;
}

.services__list {
  width: 1102px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.services__item {
  width: 303px;
  background-position: top;
}

.services__title {
  margin-bottom: 20px;
  margin-top: 10px;
}

.services__text {
  padding-bottom: 20px;
}

.about-us {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 133px;
}

.brief-info {
  width: 660px;
}

.brief-info__title {
  margin-bottom: 30px;
}

.brief-info__header {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}

.brief-info__list {
  padding-left: 37px;
}
.brief-info__item:not(:first-child) {
  padding-top: 24px;
}

.features__list {
  display: flex;
}

.xyn9 {
  display: flex;
  flex-direction: column-reverse;
  width: 102px;
  text-align: left;
}

.collab__list {
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 95px;
  margin-bottom: 113px;
}

.feedback {
  display: none;
}

.contacts {

  width: 1440px;
  height: 420px;
  background-image: url("../img/map.png");
  background-position: center;
}

.contacts__block {
  width: 320px;
  height: 330px;
  background: white;
  background-position: left center;
  margin-left: 140px;
}

.footer {
  width: 960px;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.social {
  display: flex;
  padding: 0;

}

.filter {
  width: 260px;
}

.filter__box {
  padding: 0;
  margin: 0;
}
.catalog {
  width: 760px;
  margin-left: auto;
}

.cat {
  display: flex;
}

.prosto {
  display: flex;
}

.catalog-sorting {
  padding: 0;
  margin: 0;
  display: flex;
}

.filter,
.catalog {
  padding-top: 20px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.catalog-hover {
  display: none;
}
