body {
  margin: 0;
  padding: 0;

  Font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  background: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

.header-color {
  background-color: #eeeeee;
  color: #000000;

}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;

}

.main-navigation__list,
.main-navigation__extra-list {
  list-style: none;

}

.main-navigation__list a,
.main-navigation__extra-list a{
  color: #000000;
}

.main-navigation__item--active {
  border-bottom: 2px solid #fb565a;
  width: 78px;
}


.main-navigation__list a:focus,
.main-navigation__list a:hover,
.main-navigation__extra-list a:focus,
.main-navigation__extra-list a:hover {
  color: #fb565a;
}

.main-navigation__list a:active,
.main-navigation__extra-list a:active {
  color: #b4b4b4;
}

.promo-slider__list {
  list-style: none;
}

.item-slider__title {
  font-size: 55px;
  line-height: 55px;
}

.item-slider__link {
  width: 240px;
  height: 50px;
}
.promo-slider__item {
  width: 698px;
  height: 413px;
  background-color: #eeeeee;
}

.promo-slider__item--slide1 {
  background-image: url("../img/slide1.png");
}

.promo-slider__item--slide2 {
  background-image: url("../img/slide2.png");
}

.promo-slider__item--slide3 {
  background-image: url("../img/slide3.png");
}

.button {
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
  text-align: center;
  border-radius: 3px;
}

.button:hover{
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.item-slider__link {
  padding: 20px 55px;
}

.item-slider__link:hover,
.item-slider__link:focus {
  background-color: #e74246;
}

.item-slider__link:active {
  background-color: #d7373b;
}

.services__list {
  list-style: none;
}

.services__title--web::before,
.services__title--app::before,
.services__title--presentation::before {
  content:"";
  width: 300px;
  height: 146px;
  position: relative;
  display: block;
}

.services__title--web::before {
  background-image: url("../img/illustration-1.png");
}

.services__title--app::before {
  background-image: url("../img/illustration-2.png");

}
.services__title--presentation::before {
  background-image: url("../img/illustration-3.png");
}

.services__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__link {
  padding: 20px 40px;
}

.button--red {
  background-color: #fb565a;
}

.button--red:hover{
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover{
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover{
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
}

.about-us {
  border-top: 1px solid #eeeeee;
  margin-top: 80px;
}

.brief-info__title {
  font-size: 45px;
  line-height: 45px;
}

.brief-info__header {
  text-transform: uppercase;
}

.brief-info__list {
    list-style: none;
}

.features__heading {
  text-transform: uppercase;
  font-weight: bold;
}

.features__term {
  font-size: 16px;
  line-height: 18px;
}

.features__determination {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts__link {
  padding: 20px 45px;
}

.feedback__title {
  font-size: 45px;
  line-height: 45px;
}

.input-form label{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.input-form input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 343px;
  height: 48px;
  padding-left: 15px;
}

.input-form input:focus {
  border-color: #000000;
}

.input-form input:hover {
  border-color: #b4b9bb;
}

.input-form input:invalid {
  color: #e74246;;
  border-color: #e74246;
}

.input-form textarea {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 743px;
  height: 103px;
  resize: none;
  padding-top: 15px;
  padding-left: 15px;
}

.input-form textarea:focus {
  border-color: #000000;
}

.input-form textarea:hover {
  border-color: #b4b9bb;
}

.input-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.input-form__button {
  padding: 20px 80px;
  font-size: 16px;
  line-height: 18px;
}

.social {
  list-style: none;
}

.footer__sentence-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.visually-hidden {
  display: none;
}

.collab {
  list-style: none;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.collab__list {
  list-style: none;
  padding-bottom: 49px;
  padding-top: 44px;
}

.filter input {
  background-color: #eeeeee;
}

input[type="range"] {
  width: 219px;
}

.filter input[type="text"] {
  width: 80px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.filter__box {
  border: 0 none;
}

.filter__range-scale {
  height: 80px;
  width: 260px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filter__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-button {
  padding: 20px 90px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #000000;
  font-weight: bold;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.catalog__list {
  list-style: none;
}

.catalog__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-sorting {
  list-style: none;
}

.catalog-sorting__item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.catalog-sorting__item a:hover {
  color: #666666;
}
.catalog-sorting__item a:active {
  color: #000000;
}

.catalog-sorting__item--updown {
  background-image: url("../img/svg/icon-up-dir.svg"),
                    url("../img/svg/icon-down-dir.svg");

}

.catalog-hover {
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-hover__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-hover__item {
  font-size: 16px;
  line-height: 18px;
  color: #cacaca;
  text-align: center;
}

.catalog-hover__link {
  padding: 20px 60px;
  border-radius: 3px;
}

.paginator {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  text-align: center;
}

.paginator__item {
  display: inline;
}

.paginator__item a {
  color: #000000;
  background-color: #eeeeee;
  margin-right: 11px;
  padding: 17px 27px;
  border-radius: 3px;
}

.paginator__item--active a{
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.paginator__item a:hover {
  background-color: #dfdfdf;
}

.paginator__item a:active {
  background-color: #d5d5d5;
  color: #b7b7b7;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}
